<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<header>
    <nav>
        <input type="checkbox"  id="check">
        <label for="check" class="ckeckbtn">
            <i class="fas fa-bars"></i>
        </label>
        <label class="logo">DesignMH</label>
        <ul class="nave-links">
            <li><a class="active" href="#"><i class="fas fa-clock"></i> Hoome</a></li>
            <li><a href="#">About As</a></li>
            <li><a href="#">Project</a></li> 
        </ul>
    </nav>
</header>